
<div id='prompt'>
	<div id='number'><%= Post.count %> entries so far! </div>

<br></br>
<p class = 'blurry-text'><%= Post.find(Post.count-2).line %></p>
<p class = 'blurry-text'><%= Post.find(Post.count-1).line %></p>
<p class = 'blurry-text'><%= Post.find(Post.count).line %></p>
	<br> </br>
		<%= Post.last.line %>...
		</div> 
<br></br>
<div id='mainpage'>
		<div class = 'form'>
<%= form_for(@post) do |f| %>
		

			<div id='line'>
			<%= f.text_field :line %>
			</div>


			<div id='email' >
      		<%=f.label 'and enter your email' %>
      		<%=f.text_field :email, :placeholder => 'to see how the story develops...'%>
  			</div>

	

			<%= f.submit "Add to the Story!", class: 'btn-large btn-custom'%>



			<% end %>
		</div>
			</div>
					<div id='counter'><div>

